@tailwind base;
@tailwind components;
@tailwind utilities;

.heroSide1Background {
    background-image: url('/heroSide1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.heroSide2Background {
    background-image: url('/heroSide2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.chooseUsBackground {
    background-image: url('/chooseUsImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUsBackground {
    background-image: url('/aboutUsImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.servicesBackground {
    background-image: url('/servicesImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.afterExploreBackground {
    background-image: url('/afterExploreImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribeImage {
    background-image: url('/subscribeImage2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.chooseRadius {
    border-radius: 8px 8px 8px 0px;
}

.servicesPadding {
    padding: 8px 0px 8px 0px;
}

.servicesMobilePadding {
    padding: 0px 0px 16px 0px
}

.servicesPadding2 {
    padding: 0px 8px 0px 8px
}
.subscribePadding {
    padding: 48px 108px 48px 108px;
}

.exploreCar {
    padding: 8px 16px 32px 16px
}
