@tailwind base;
@tailwind components;
@tailwind utilities;

.heroSide1Background {
    background-image: url('../public/heroSide1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.heroSide2Background {
    background-image: url('../public/heroSide2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.chooseUsBackground {
    background-image: url('../public/chooseUsImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUsBackground {
    background-image: url('../public/aboutUsImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.servicesBackground {
    background-image: url('../public/servicesImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.chooseRadius {
    border-radius: 8px, 8px, 8px, 0px;
}

.servicesPadding {
    padding: 8px, 0px, 8px, 0px;
}

.servicesMobilePadding {
    padding: 0px, 0px, 16px, 0px
}

.servicesPadding2 {
    padding: 0px, 8px, 0px, 8px
}
